<h1><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h1>

<%= form_with model: @customer, url: admin_customer_path(@customer.id) do |f| %>
 <span>会員ID</span>
 <%= @customer.id %><br>
 <span>氏名</span>
 <%= f.text_field :last_name %>
 <%=f.text_field :first_name %><br>
 <span>フリガナ</span>
 <%= f.text_field :last_name_kana %>
 <%= f.text_field :first_name_kana %><br>
 <span>郵便番号</span>
 <%= f.text_field :postal_code %><br>
 <span>住所</span>
 <%= f.text_field :address %><br>
 <span>電話番号</span>
 <%= f.text_field :telephone_number %><br>
 <span>メールアドレス</span>
 <%= f.text_field :email %><br>
 <span>会員ステータス</span>
 <%= f.radio_button :is_deleted, "valid"  %>
 <%= f.label :radio_button_valid, "有効" %>
 <%= f.radio_button :is_deleted, "withdraw" %>
 <%= f.label :radio_button_withdraw, "退会" %>

<br>
<%= f.submit '変更を保存' %>
<% end %>