<h1>注文情報入力</h1>

<%= form_with model: @order, url: confirm_path do |f| %>
 <span>支払い方法</span><br>
 <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
 <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %> <br>

 <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
 <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %> <br>
 <span>お届け先</span> <br>
 <%= f.radio_button :select_address, 0 %>
 <%= f.label :radio_button_current_address_display, 'ご自身の住所' %> <br>
 <%= current_customer.address_display %> <br>
 <%= current_customer.full_name %> <br>
 <%= f.submit '確認画面へ進む' %>
<% end %>